body, html{
    background-image: url("desktop2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    height: 100vh;
}
body{
    overflow-y: scroll;
}

@font-face{
    font-family: myFont;
    src:url(NissanBrand-Bold.ttf);
}
 .explore, thead{
    font-family: myFont;
}


@font-face{
    font-family: myFint;
    src:url(NissanBrand-Light.ttf);
}
h1, p, a, .std{
    font-family: myFint;
}
.std{
    letter-spacing: 10px;
    font-size: 50px;
}
.datediv{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    letter-spacing: 5px;
    font-size: 27px;
    padding: 0;
    margin: 0;

}


@font-face{
    font-family: myFant;
    src:url(NissanBrand-Regular.ttf);
}
h1, p, a, label, input, button, value, tbody{
    font-family: myFant;
}

.grab {
    cursor: -webkit-grab; 
    cursor: grab;
}

@media only screen and (max-width: 600px) {
    .slotparent{
        flex-direction: row;
    }
    .slotdiv{
        flex-direction: column;
    }
    .rower{
        flex-direction: column;
    }
}

table, td, th {
    border: 1px solid;
    border-radius: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black}